.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social {
    display: flex;
    align-items: center;
    border: 1px solid #BDBDBD;
    padding: 8px;
    margin: 0 6px;

    width: auto;
    height: 100%;

    border-radius: 50%;
}
.disabled {
    background-color: #BDBDBD;

}
.enabled {
    background-color: #fff;
}