.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 1em;
    overflow-x: scroll;
}
.tableContainer {
    border-collapse: collapse;
    min-width: 786px;
    overflow-x: scroll;
}
.tableHeader{
    background-color: #fff;
    text-align: left;
    
}

.rowItemSocial {
    align-self: center;
}
.rowItem, .link {
    padding: .5em;
    border: 2px solid;
    border-color: #eee;
    max-height: 110px;
}
.tableBody:nth-child {
    background-color: #D6EEEE;
}
.link {
    color: #1661F3;
    text-decoration: underline;
    cursor: pointer;
}
.text {
    word-break: break-all;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #BDBDBD;
    background-color: #fff;

    width: 60px;
    height: 60px;
    justify-self: center;
    margin: 0 auto;

    border-radius: 50%;
    align-self: center;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
