.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 1em;
    overflow-x: scroll;
}
.tableContainer {
    border-collapse: collapse;
    min-width: 786px;
    overflow-x: scroll;
}
.tableHeader{
    background-color: #fff;
    text-align: left;
    
}
.tableRow {
    max-width: 60px;
}
.rowItem, .link {
    padding: .5em;
    border: 2px solid;
    border-color: #eee;
}
.tableBody:nth-child {
    background-color: #D6EEEE;
}
.link {
    color: #1661F3;
    text-decoration: underline;
    cursor: pointer;
}
.text {
    word-break: break-all;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #BDBDBD;
    padding: 8px;
    margin: 0 6px;
    background-color: #fff;

    width: 40px;
    height: 40px;

    border-radius: 50%;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
