
.mainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 50px 40px;
}
.postInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}