@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;

  background-color: #E5E5E5;
  font-size: 1rem;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}
.btn-div {
  border-radius: 4px;
  padding: 8px 24px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}
.btn-div:hover {
  filter: brightness(0.9); 
}
button {
  white-space: nowrap;
  width: 100%;
  background-color: inherit;
  color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
