.card {
    display: flex;
    width: 100%;
}.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.previewText {
    color: #828282;
}
.imagePreview {
    padding: .5em 0;
}
.preview {
    display: none;
    width: 100%;
    margin: 0;
    border: 1px solid #E0812C;
    color: #fff;
    background-color: #F2994A;
}
.postBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid black;
    border-radius: 4px;
    padding: 1em;
    max-width: 300px;
}
.postHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.text {
    word-break: break-all;
}

.interact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .preview {
        display: block;
    }
    .card {
        display: none;
    }
}