.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; 

    background-color: #FFFFFF;
    padding: 1rem 3rem;
}
.userContainer {
    display: flex;
    align-items: center;
}