.actionFooter {
    display: flex;
    justify-content: flex-end;

    background-color: #FFFFFF;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px;
}
.cancel {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #2F80ED;
}
.save {
    background: #FFFFFF;
    border: 1px solid #2F80ED;
    color: #2F80ED;
    margin: 0 1rem;
}
.confirm {
    background: #2F80ED;
    border: 1px solid #2F80ED;
    color: #FFFFFF;
}